.error{
     color: red;
     font-weight:bold;
}
body{
    background-color: lightgray;
}
.btn{
    background-color: black;
    color: white;
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-weight:700;
}
